.nav{
    box-sizing: border-box;
    width: 100vw;
    height: 13vh;
    text-align: center;
    border-bottom: 1px solid rgb(211, 205, 205);
    z-index: 99;
    position: fixed;
    top: 0;
     background: rgb(255,255,255);
}
.nav-wrap{
    margin: 0 auto;
    height: 13vh;
    width: 80vw;
    text-align: center;
    display: flex;
    justify-content:space-between;
    .wrap-left{
        width: 30vw;
        box-sizing: border-box;
      
        .left-c{
            display: flex;
            justify-content: flex-start;
            text-decoration: none;
            .left-logo{
                span{
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 13vh;
                    color: #007fff;
                }
            }
            .left-moudle{
              span{
                  padding-left: 1vw;
                line-height: 13vh;  
                font-size:1.5rem;
                color: #007fff;
              }
               
            }
        }
    }
    .wrap-right{
        width: 35vw;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        // .r-search{
        //     width: 20vw;
        //     line-height: 13vh;
        // }
        .r-do{
            width: 35vw;
            line-height: 13vh;
            display: flex;
            justify-content: space-around;
            .do-item{
                cursor: pointer;
                font-size:1.5rem;
                color: #007fff;
            }
        }
       
    }
}